    /*preloader*/
/*.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}
.status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}*/

/*****button****/
.btn{
    text-transform: uppercase;
}
.btn-danger {
    color: #ffffff;
    background-color: #B8CD06;
    border-color: transparent;
    border-radius: 20px;

    transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -ms-transition:all 0.5s
}
.btn-danger:hover{
    background: #343434;
    color:#ffffff;
    border-radius: 20px;
    border-color: transparent;
}
.btn-red{
    background-color: #D80505;
}


.btn-danger.focus, .btn-danger:focus {
    color: #fff;
    background-color: #B8CD06;
    border-color: transparent;
}

/*============================================
            header part
============================================*/
        /*** header top starts****/
header{
    background-color:transparent;
    margin-bottom: 50px;
    display:none;
}
.header-top{
    border-bottom: 1px solid #EFEFEF;
}
.header-top small{
    color:#A6A6A6;
	font-size:10px;
    text-transform: uppercase;
}
.header-top a,.header-top b{
    color: #626262;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
}
.header-top p{
    padding: 15px 0;
    border-left: 1px solid #EFEFEF;
    margin: 0;
}
button, input, select, textarea {
    border: none;
    font-weight: bold;
}
.header-top p:nth-child(3),.header-top p:last-child{
    border-right: 1px solid #EFEFEF;
}
.header-top .col-md-offset-2{
    border-left: 1px solid #EFEFEF;
    padding-top: 30px;
    height: 64px;
    margin-top: -15px;
}
.header-top p:nth-child(5) > i, .header-top p:last-child i {
    font-size: 17px;
}
.header-top p:last-child sup{
    background: #BDD119;
    color: #ffffff;
    font-size: 14px;
    border-radius: 50%;
    padding: 6px 10px;
}
.header-top p:last-child span{
    color:#BDD119;
    font-weight: bold;
}
/*** header top ends****/

/* header menu*/
/*#header-menu{
    display: none;
}*/
.navbar-default{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    min-height: 100px;
}
.menu-bg{
    background-color: #27D689;
    border: none;
}
nav{
    padding-top: 20px;
}
.navbar{
    margin-bottom: 0;
}
.navbar-nav {
    padding-top: 10px;
    margin-top: 15px;
}
.navbar-default .navbar-nav > li > a{
    color:#434343;;
    text-transform: uppercase;
    font-size: 14px;

    transition: all 0.4s;
}
.fa-search{
    cursor: pointer;
}
.navbar-default .navbar-nav > li > a:hover{
/color:#fff;
/background-color: #BDD119;
    border-bottom: 5px solid #BDD119;
/border-radius: 20px;
}
.navbar-default .navbar-nav > .dropdown > a .caret{
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #fff;
}
.navbar-default .navbar-brand{
    color:#fff;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: -15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 1170px;
    margin-right: 40px;
}
.menu-large {
    position: static !important;
}
.megamenu{
    padding: 20px 0px;
    width:100%;
    background-color:#B8CD06;
    /background-color:#000000;
}
.megamenu> li > ul {
    padding: 0;
    margin: 0;
}
.megamenu> li > ul > li {
    list-style: none;
    color: #000;
    font-weight: bold;
}
.nav li i {
    color: #434343;
    font-size: 20px;
    padding-top: 16px;
    margin-left: 20px;
}

.megamenu> li > ul > li > a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #434343;
    white-space: normal;

    transition: all 0.5s;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
    text-decoration: none;
    background-color: #06D8A9;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.megamenu p{
    color:#FFFFFF;
    font-weight: bold;
    margin-top:5px
}
.dropdown-header {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}
.img-thumbnail {
    border: 0;
}
@media (max-width: 768px) {
    .megamenu{
        margin-left: 0 ;
        margin-right: 0 ;
    }
    .megamenu> li {
        margin-bottom: 30px;
    }
    .megamenu> li:last-child {
        margin-bottom: 0;
    }
    .megamenu.dropdown-header {
        padding: 3px 15px !important;

    }
    .navbar-nav .open .dropdown-menu .dropdown-header{
        color:#fff;
    }
}








/*============================================
             page2-top
============================================*/

.page2-top{
    margin: 220px 0 80px;
    color:#BDD119;
}
.page2-top a{
    color:#BDD119;
}





/****Pupular Catagories*****/
.Pupular{
    text-transform: uppercase;
    margin-top: -25px;
}
.Pupular h2{
    font-weight: bold;
    margin-bottom: 20px;
}
.panel-group {
    margin-bottom: 50px;
}
.Pupular .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.Pupular .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.Pupular .panel-title {
    font-size: 14px;
}

.Pupular .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.Pupular .more-less {
    float: right;
    color: #BDD119;
}

.Pupular .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}
.Pupular .demo {
    padding-top: 60px;
    padding-bottom: 60px;
}

.Pupular .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #ffffff;
    border-color: #EEEEEE;
    /* border: none; */
}
.Pupular .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #EFEFEF;
}
/********************************/


/*============================================
                 price
============================================*/
.price {
    margin-bottom: 80px;
}
.price p{
    margin-top: -65px;
}
.range {
    display: table;
    position: relative;
    height: 25px;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 80px;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}
.range.range-success input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"]::-moz-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success output {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"] {
    outline-color: rgb(92, 184, 92);
}







/*============================================
                operation system
============================================*/
.operationSystem{
    margin-bottom: 80px;
}
.chooseColor{
    margin-bottom: 50px;
}
.chooseColor button, .chooseColor input, .chooseColor select, .chooseColor textarea {
    border: none;
    font-weight: bold;
    width: 30px;
    height: 30px;
}
.chooseColor .page2color_1{
    background-color: #A7F050;
    margin-right: 5px;
}
.chooseColor .page2color_2{
    background-color: #50E3F0;
    margin-right: 5px;
}
.chooseColor .page2color_3{
    background-color: #EEEEEE;
    margin-right: 5px;
}
.chooseColor .page2color_4{
    background-color: #4D900C;
    margin-right: 5px;
}
.chooseColor .page2color_5{
    background-color: #EDB82C;
    margin-right: 5px;
}
.chooseColor .page2color_6{
    background-color: #7D3F99;
    margin-right: 5px;
}
.chooseColor .page2color_7{
    background-color: #3481C7;
    margin-right: 5px;
}
.chooseColor .page2color_8{
    background-color: #BF584B;
    margin-right: 5px;
}



/*===========================================
                 populer
==========================================**/
.populer2{
    margin-bottom: 80px;
}
.populer2 h2{
    margin-bottom: 20px;
}
.populer2 ul{
    margin-left: -45px;
    padding-top: 10px;
}
.populer2 ul li{
    float: left;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-right: 15px;
    background: #F7F7F7;
    color: #888888;
    border-radius: 15px;
    padding: 11px 18px;
    font-size: 14px;
    margin-left: -1px;
}
.populer2 ul li:last-child{
    margin-right: 0;
}
.populer2 ul li a{
    color:#828E96;
}
.populer2 ul li a:hover{
    color:#000000;
    text-decoration: none;
}







/*===========================================
              up to 70% discount
==========================================**/
.carousel-caption {
    right: 0;
    left: 60%;
    padding-bottom: 30px;
    text-transform: uppercase;
}
.carousel-caption h2{
    color:#B8CD06
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #B8CD06;
}



/*========================================
              Sport Gadgets
=======================================***/

.widget {
    -webkit-box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.3);
    float: left;
    margin: 0 0 25px;
    padding: 0 0 25px;
    width: 100%;
}

.banner {
    position: relative;
    overflow: hidden;
    display: block;
    z-index: 0;
}

.category-image {
    margin-bottom: 40px;
}
.banner img {
    width: 100%;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


.shop-area {
    padding: 60px 0;
}

.shop-left .widget {
    -webkit-box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.3);
    float: left;
    margin: 0 0 25px;
    padding: 0 0 25px;
    width: 100%;
}

.widget h3 {
    border-bottom: 1px solid #e8e8e9;
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 600;
    line-height: 12px;
    margin: 15px 0;
    padding: 0 0 15px 15px;
    text-transform: uppercase;
}

.widget .widget-list {
    display: inline-block;
    margin: 0;
    padding: 0 15px;
}

.widget .widget-list li {
    border-bottom: 1px solid #e8e8e9;
    float: left;
    font-size: 12px;
    line-height: 40px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.widget .widget-list li a::before {
    color: #909295;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    margin-right: 10px;
}

.widget ul li span {
    float: right;
}

.widget h5 {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px;
}

.widget ul li a {
    color: #4d4d4d;
    font-size: 14px;
}

.widget .tags li a {
    border: 1px solid #ddd;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-transform: capitalize;
}

.tags {
    margin-bottom: 0;
    padding: 5px 10px;
}

.tags li {
    display: inline-block;
    margin: 0;
}

.widget .tags li a:hover {
    background: #BDD119 none repeat scroll 0 0;
    border-color: #BDD119;
    color: white;
}

.topbar-category {
    -webkit-box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.3);
    -moz-webkit-box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.3);
    -ms-webkit-box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.3);
    -o-webkit-box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.3);
    clear: both;
    margin-bottom: 40px;
    padding: 15px 15px 10px;
    position: relative;
}

.pager-area {
    display: inline-block;
}

.shop-tab {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 6px;
    margin-top: 0;
    padding: 0;
}

.shop-tab li {
    display: inline-block;
    margin: 0;
}

.shop-tab li a {
    background: #909295 none repeat scroll 0 0;
    border: 0 none;
    color: white;
    display: block;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    width: 30px;
}

.shop-tab li.active a {
    background: #BDD119 none repeat scroll 0 0;
}

.shop-tab li a i {
    display: block;
    font-size: 17px;
    line-height: 30px;
    padding-left: 7px;
}

.sort-by {
    display: inline-block;
    margin-left: 50px;
    margin-top: 0;
    position: absolute;
}

.sort-by label,
.show label,
.show span {
    color: #404048;
    font-size: 14px;
    font-weight: normal;
    padding: 3px 4px 0 0;
}

.sort-by > select {
    background: #fbfbfb none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    float: right;
    height: 27px;
    margin-left: 2px;
    margin-top: 0;
    padding-left: 5px;
    padding-top: 1px;
    width: 190px;
}

option {
    border-left: 1px solid;
    border-right: 1px solid;
}

.show {
    display: inline-block;
    position: absolute;
    right: 270px;
    top: 15px;
}

.show > label {
    float: left;
}

.show > select {
    background: #fbfbfb none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    float: left;
    font-size: 11px;
    height: 27px;
    margin-left: 2px;
    margin-right: 5px;
    padding-left: 5px;
    padding-top: 1px;
    width: 55px;
}

.sort-by label,
.show label,
.show span {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    text-transform: capitalize;
}

.shop-breadcrumb {
    display: inline-block;
    float: right;
}

.shop-breadcrumb ul li {
    display: inline-block;
}

.shop-breadcrumb ul li a {
    border: 1px solid #ddd;
    color: #444;
    display: block;
    height: 25px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    width: 25px;
}

.shop-breadcrumb ul {
    margin: 0;
}

.shop-breadcrumb ul li a:hover,
.shop-breadcrumb ul li.active a {
    background: #BDD119 none repeat scroll 0 0;
    border-color: #BDD119;
    color: #fff;
}

.mar-top-30 {
    margin-top: 30px;
}

.list-view .single-product-content {
    margin-top: -8px;
    text-align: left;
}

.product-action-2 {
    margin: 10px 0 20px;
}

.product-action-2 a {
    border: 1px solid #666;
    color: #666;
    line-height: 0;
    padding: 8px 10px;
}

.product-action-2 a:hover {
    border-color: #BDD119;
    color: #BDD119;
}

.list-view .add-cart {
    margin-left: 15px;
    margin-top: 10px;
}

.pro-desc {
    margin: 5px 0 0;
}

#list_view .pro-desc p {
    color: #4d4d4d;
    font-size: 14px;
    line-height: 24px;
}

.list-view .single-product-content h3 a {
    font-size: 18px;
}

.list-view .single-product-content h3 {
    margin: 0 0 8px;
}

.list-view .price {
    margin: 8px 0;
}

.stock {
    margin: 15px 0 0;
}

.stock span {
    color: #fff;
    font-size: 14px;
    padding: 5px 12px;
    text-transform: capitalize;
}

.stock .in-stock {
    background: #008000 none repeat scroll 0 0;
}

.stock .out-stock {
    background: #BDD119 none repeat scroll 0 0;
}

.recent-product {
    padding: 0 10px;
}

.recent-box .recent-img {
    float: left;
    height: auto;
    margin: 0 10px 0 0;
    width: 40%;
}

.recent-box .recent-details {
    float: right;
    overflow: hidden;
    text-align: left;
    width: 55%;
}

.recent-details h4 a {
    font-size: 14px;
    font-weight: normal;
    color: #BDD119;
}

.recent-details .product-rating span {
    font-size: 12px;
}

.recent-details p {
    font-size: 14px;
    margin: 0;
}

.recent-box {
    display: inline-block;
}

.recent-details .add-cart {
    background: #BDD119 none repeat scroll 0 0;
    border: 1px solid #BDD119;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    height: 30px;
    line-height: 14px;
    margin: 8px 0 0;
    text-transform: capitalize;
    width: 100px;
}

.recent-details .add-cart:hover {
    background: transparent none repeat scroll 0 0;
    color: #BDD119;
}

.no-pad {
    padding: 0!important;
}

.widget .search {
    border: 1px solid #e8e8e9;
    display: inline-block;
    height: 30px;
    width: 80%;
}

.widget .search-btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #e8e8e9;
    border-image: none;
    border-style: none solid;
    border-width: medium 1px;
    display: inline-block;
    height: 31px;
    margin: 0 0 0 -6px;
    width: 20%;
}

.shop-search {
    margin: auto;
    padding: 0 20px;
}
.shop-search {
    margin: auto;
    padding: 0 15px;
}

.sale-new .sale {
    background: #BDD119 none repeat scroll 0 0;
    -webkit-box-shadow: -2px -2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: -2px -2px rgba(0, 0, 0, 0.12);
    -o-box-shadow: -2px -2px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: -2px -2px rgba(0, 0, 0, 0.12);
    box-shadow: -2px -2px rgba(0, 0, 0, 0.12);
    left: 18px;
    top: 10px;
}

.sale-new span {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 55px;
}

.product-rating .star-on::after {
    color: rgb(179, 179, 0);
    content: "";
    display: inline-block;
    font-family: FontAwesome;
}

.product-rating .star::after {
    color: rgb(170, 170, 170);
    content: "";
    display: inline-block;
    font-family: FontAwesome;
}
.single-product-content {
    margin-top: 10px;
    text-align: center;
}
.single-product-content h3 a {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    color: #BDD119;
}
.single-product-content h3  {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 30px;
    color: #BDD119;
}
.price .new-price {
    color: #BDD119;;
    font-size: 18px;
}
.price .old-price {
    font-size: 13px;
    margin-left: 5px;
    text-decoration: line-through;
}

.old-price {
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 500;
}
.product-action {
    height: auto;
    margin-top: -67px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 50%;
    width: 45px;
}
.product-action a {
    background: #808080 none repeat scroll 0 0;
    border-radius: 100px;
    display: block;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
    opacity: 0;
    text-align: center;
    -webkit-transform: translate(0px, -60px);
    -ms-transform: translate(0px, -60px);
    -moz-transform: translate(0px, -60px);
    -o-transform: translate(0px, -60px);
    transform: translate(0px, -60px);
    visibility: hidden;
    width: 40px;
}

.add-cart a::before {
    border-top: 3px double #6c6c6c;
    content: "";
    height: 3px;
    left: -14px;
    margin-top: -10px;
    position: absolute;
    top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 110px;
}
.add-cart a::after {
    border-bottom: 3px double #6c6c6c;
    bottom: 10px;
    content: "";
    height: 3px;
    left: -14px;
    margin-bottom: -10px;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 110px;
}
.add-cart a {
    font-weight: 500;
    padding: 8px 0;
    position: relative;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #6c6c6c;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
}
.add-cart {
    height: 40px;
    line-height: 45px;
    margin-top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.add-cart a:hover {
    color: #BDD119;
}

.product-action {
    height: auto;
    margin-top: -67px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 50%;
    width: 45px;
}
.product-action a {
    background: #808080 none repeat scroll 0 0;
    border-radius: 100px;
    display: block;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
    opacity: 0;
    text-align: center;
    -webkit-transform: translate(0px, -60px);
    -ms-transform: translate(0px, -60px);
    -moz-transform: translate(0px, -60px);
    -o-transform: translate(0px, -60px);
    transform: translate(0px, -60px);
    visibility: hidden;
    width: 40px;
}
.product-action i {
    color: #fff;
}
.product-action a:hover {
    background: #af5875 none repeat scroll 0 0;
    border-color: #af5875;
}
.product-action .compare {
    -webkit-transition: all 0.6s ease 0.1s;
    -ms-transition: all 0.6s ease 0.1s;
    -moz-transition: all 0.6s ease 0.1s;
    -o-transition: all 0.6s ease 0.1s;
    transition: all 0.6s ease 0.1s;
}

.product-action .quick {
    -webkit-transition: all 0.8s ease 0.2s;
    -ms-transition: all 0.8s ease 0.2s;
    -moz-transition: all 0.8s ease 0.2s;
    -o-transition: all 0.8s ease 0.2s;
    transition: all 0.8s ease 0.2s;
}

.single-product:hover .product-action a {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    visibility: visible;
}





/*==============================*/




.single-product {}

.single-product-img {
    position: relative;
}

.single-product-img::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 114%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.single-product:hover .single-product-img::before {
    opacity: 0.3;
}

.single-product-img a {}

.single-product-img img {}

.product-action {
    height: auto;
    margin-top: -67px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 50%;
    width: 45px;
}

.product-action a {
    background: #808080 none repeat scroll 0 0;
    border-radius: 100px;
    display: block;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
    opacity: 0;
    text-align: center;
    -webkit-transform: translate(0px, -60px);
    -ms-transform: translate(0px, -60px);
    -moz-transform: translate(0px, -60px);
    -o-transform: translate(0px, -60px);
    transform: translate(0px, -60px);
    visibility: hidden;
    width: 40px;
}

.product-action a:hover {
    background: #BDD119 none repeat scroll 0 0;
    border-color: #BDD119;
}

.product-action i {
    color: #fff;
}

.product-action .compare {
    -webkit-transition: all 0.6s ease 0.1s;
    -ms-transition: all 0.6s ease 0.1s;
    -moz-transition: all 0.6s ease 0.1s;
    -o-transition: all 0.6s ease 0.1s;
    transition: all 0.6s ease 0.1s;
}

.product-action .quick {
    -webkit-transition: all 0.8s ease 0.2s;
    -ms-transition: all 0.8s ease 0.2s;
    -moz-transition: all 0.8s ease 0.2s;
    -o-transition: all 0.8s ease 0.2s;
    transition: all 0.8s ease 0.2s;
}

.single-product:hover .product-action a {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    visibility: visible;
}

.sale-new span {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 55px;
}

.sale-new .sale {
    background: #BDD119 none repeat scroll 0 0;
    -webkit-box-shadow: -2px -2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: -2px -2px rgba(0, 0, 0, 0.12);
    -o-box-shadow: -2px -2px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: -2px -2px rgba(0, 0, 0, 0.12);
    box-shadow: -2px -2px rgba(0, 0, 0, 0.12);
    left: -8px;
    top: 3px;
}

.sale-new .new {
    background: #000 none repeat scroll 0 0;
    -webkit-box-shadow: 2px -2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 2px -2px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 2px -2px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 2px -2px rgba(0, 0, 0, 0.12);
    box-shadow: 2px -2px rgba(0, 0, 0, 0.12);
    right: -8px;
    top: 3px;
}

.single-product-content {
    margin-top: 10px;
    text-align: center;
}

.add-cart {
    height: 40px;
    line-height: 45px;
    margin-top: -60px;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    margin-bottom: 25px;
}

.add-cart a {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0;
    position: relative;
}

.add-cart a:hover {
    color: #BDD119;
}

.add-cart a::before {
    border-top: 3px double #6c6c6c;
    content: "";
    height: 3px;
    left: -14px;
    margin-top: -10px;
    position: absolute;
    top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 110px;
}

.add-cart a::after {
    border-bottom: 3px double #6c6c6c;
    bottom: 10px;
    content: "";
    height: 3px;
    left: -14px;
    margin-bottom: -10px;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 110px;
}

.add-cart a:hover::after,
.add-cart a:hover::before {
    border-color: #BDD119;
}

.single-product-content h3 a {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
}

.product-rating {
    display: block;
}

.product-rating .star::after {
    color: #aaa;
    content: "";
    display: inline-block;
    font-family: "FontAwesome";
}

.product-rating .star-on::after {
    color: #BDD119;
    content: "";
    display: inline-block;
    font-family: "FontAwesome";
}

.single-product-content h3 {
    margin-bottom: 0;
}

.price {
/display: block;
}

.price .new-price {
    color: #BDD119;
    font-size: 18px;
}

.price .old-price {
    font-size: 13px;
    margin-left: 5px;
    text-decoration: line-through;
}

















/*=============================================
        page two bottom product
=============================================**/
#page2Product{
    margin: 90px 0;
}
.productBtm h3{
    text-transform: uppercase;
    font-weight: bold;
}
.productBtm figure{
    position: relative;
    margin-bottom: 20px;
    margin-top: 30px;
    overflow: hidden;
}
.productBtm figcaption{
    position: absolute;
    top: 10px;
    left: 155px;
    text-transform: uppercase;
}
.productBtm figcaption h4{
    font-weight: bold;
    text-transform: uppercase;
}

.productBtm .img-thumbnail {
    border: 1px solid #BDD119;
}


.productBtm figure::after{
    content:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis, dolores hic itaque obcaecati omnis quae repellendus tempore tenetur veniam.";
    background-color: rgba(0,0,0,0.5);
    color:#BDD119;
    padding: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -271px;
    text-align: center;

    transition: all 0.5s;
}
.productBtm figure:hover:after{
    left: 0;
}
/*.product-text{
    position: absolute;
    top: -52px;
    background-color: rgba(0,0,0,0.5);
    height: 188px;
    width: 105%;
    font-size: 14px;
    text-align: center;
    color: #B4FA20;
}

.productBtm figure:hover .product-text{

}*/
/*=============================================
       dont miss your change
=============================================**/
#dontmiss{
    background-color: #B8CD07;
    color: #fff;
    padding: 70px 0 22px;
}
#dontmiss form{
    position: relative;
}
#dontmissform input{
    max-width: 600px;
    border-radius: 15px;
    outline: none;
}
#dontmiss form .btn {
    position: absolute;
    top: 0px;
    right: 0;
    padding: 7px;
}

#dontmiss.form-control:focus {
    border-color: #B8CD06;
    outline: 0;
    webkit-box-shadow:1px 1px 1px transparent;
    box-shadow: none;
    height: 35px;
    border-radius: 14px;
}
#dontmiss h2{
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -5px;
    font-size: 26px;
}





/*===========================================
                 Footer Part
==========================================**/
footer{
    background-color: #343434;
}
#footer-top{
    padding: 40px 0;
    border-bottom:1px solid #3E3E3E;
}
#footer-top a{
    text-decoration: none;
}
#footer-top .footer-logo{
    margin-bottom: 30px;
}
#footer-top .logo-text{
    color:#828E96
}
#footer-top .logo-text > p{
    margin-bottom: 30px;
}
.contact a{
    color:#828E96
}
.contact{
    text-transform: uppercase;
}
.contact i{
    font-size: 25px;
    color:#B8CD1E;
}
.contact p > span{
    color: #D1CFD1;
    font-size: 13px;
}
.contact p b{
    color:#80949A;
}
.contact p{
    line-height: 40px;
}
#footer-top h4{
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 10px;
    text-transform: uppercase;
}


/*** quick link**/
.quick{
    text-transform: uppercase;
}
.quick ul{
    margin-left: -45px;
}
.quick ul li{
    line-height: 38px;
}
.quick ul li a{
    color:#828E96;
}
.quick ul li a:hover{
    color:#fff;
}
.quick ul li, .populer ul li{
    list-style: none;
}

/*** some post***/
.some-post-text .col-md-3, .some-post-text .col-xs-12, .some-post-text .col-sm-6{
    padding:0;
}
.some-post{
    text-transform: uppercase;
}
.some-post p{
    color: #828E96;
    /padding-top: 10px;
    /margin-left: -10px;
    /font-size: 13px;
}
.some-post p + p{
    color: #fff;
    margin-top: -10px;
}
.some-post .april{
    padding-top: 14px;
}
.some-post .april img{
    border-radius: 10px;
}
/*** popular tag***/
.populer{}
.populer ul{
    margin-left: -30px;
    padding-top: 10px;
}
.populer ul li{
    float: left;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-right: 5px;
    background: #424242;
    color: #9B9EA1;
    border-radius: 15px;
    padding: 9px 5px;
    font-size: 13px;
}
.populer ul li:last-child{
    margin-right: 0;
}
.populer ul li a{
    color:#828E96;
}
.populer ul li a:hover{
    color:#fff;
}

/*** footer bottom***/
#footer-bottom{
    padding: 45px 0;
}
#footer-bottom p{
    color:#828E96;
}
#footer-bottom p > span{
    color:#B0C612;
}
#footer-bottom span{
    margin-right:5px;
}
#footer-bottom span a{
    text-decoration: none;
}
#footer-bottom span a i{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #424242;
    color: #888888;
    padding: 14px 5px 5px 14px;

    transition: all 0.5s;
}
#footer-bottom span a i:hover{
    background-color: #B8CD1E;
    color: #fff;
    transform: rotate(360deg);
}
#footer-bottom ul{
    margin-left: -17px;
}
#footer-bottom ul li{
    list-style: none;
    float: left;
    margin-left: 20px;
}
.social{
    margin-top: -10px;
}










/*=================================================
            scroll-top part
================================================**/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #31D580;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    top: 865px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
/.scroll-top-wrapper:hover {
     background-color: #888888;
 }
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}








